<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>重要度</th>
      <th>緊急度</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= l task.start_time, format: :date %></td>
        <td>
          <% if task.end_time.present? %>
            <%= l task.end_time, format: :date %>
          <% else %>
            未設定
          <% end %>
        </td>
        <td><%= task.importance_i18n %></td>
        <td><%= task.urgency_i18n %></td>
        <td><%= task.status_i18n %></td>
      </tr>
    <% end %>
  </tbody>
</table>