<div class="nested-fields card mb-3 p-3">
  <div class="card-body">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :site_section_id, value: @site_section.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :title, class: "form-control mb-2", placeholder: "#{t 'activerecord.attributes.task.title'}" %>
    <%= f.text_area :description, class: "form-control mb-2", placeholder: "#{t 'activerecord.attributes.task.description'}" %>
    <div class="row mb-2">
      <div class="col-md-5">
        <%= f.label :start_time %>
      </div>
      <div class="col-md-7">
        <%= f.date_field :start_time, class: "form-control" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-5">
        <%= f.label :end_time %>
      </div>
      <div class="col-md-7">
        <%= f.date_field :end_time, class: "form-control" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-5">
        <%= f.label :importance %>
      </div>
      <div class="col-md-7">
        <%= f.collection_select :importance, Task.importances_i18n.invert, :last, :first, { prompt: "--選んでください--" }, { class: "form-control" } %>
      </div>
    </div>
    
    <div class="row mb-2">
      <div class="col-md-5">
        <%= f.label :urgency %>
      </div>
      <div class="col-md-7">
        <%= f.collection_select :urgency, Task.urgencies_i18n.invert, :last, :first, { prompt: "--選んでください--" }, { class: "form-control" } %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-5">
        <%= f.label :status %>
      </div>
      <div class="col-md-7">
        <%= f.collection_select :status, Task.statuses_i18n.invert, :last, :first, { prompt: "--選んでください--" }, { class: "form-control" } %>
      </div>
    </div>
    <%= f.hidden_field :_destroy %>
    <div class="row">
      <div class="col-md-7 offset-md-5">
        <%= link_to_remove_association "このタスクを削除する", f, class: "btn btn-danger btn-block" %>
      </div>
    </div>
  </div>
</div>