<h1><%= @task.title %></h1>
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<p>
  <strong>Importance:</strong>
  <%= @task.importance %>
</p>
<p>
  <strong>Urgency:</strong>
  <%= @task.urgency %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @task.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @task.end_time %>
</p>