<h1>現場詳細</h1>

<p>
  <strong>Name:</strong>
  <%= site.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= site.address %>
</p>
<p>
  <strong>Start Date:</strong>
  <%= site.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%= site.end_date %>
</p>

<% if user_signed_in? %>
  <%= link_to "Edit", edit_site_path(site), class: "btn btn-secondary btn-sm" %>
  <%= link_to "Delete", site, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
<% end %>